* {
    margin: 0;
    box-sizing: border-box;
}
body {
   font-family: serif;
   padding: 60px;
}

.header {
    background-color: turquoise;
    color: black;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 30px;
    line-height: 70px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-link:hover {
    background-color: blue;
    transition: 0.5s;
}

footer{
    background-color: turquoise;
}